@import '../../styles/variables.scss';
@import '../../styles/components.scss';

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0rem;
    width: 70vw;

    .question-box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fff;
        border-radius: 6px;
        padding: 1rem;
        width: 100%;
        cursor: pointer;

        &:hover {
            box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.1);
        }
    }

    .extended-questionbox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fff;
        box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        border-radius: 6px 6px 0px 0px;
        padding: 1rem;
        width: 100%;
    }

    .faqquestion {
        @include para-text;
        width: 100%;
    }

    .faqanswer {
        @include para-text;
        padding: 1rem;
        width: 100%;
        background-color: #FFBFBF;
        border-radius: 0px 0px 6px 6px;
        font-size: 1.1rem;
        font-family: $textfont;
        font-weight: 300;
        transition-timing-function: linear;
    }

    .faq-transition-enter {
        opacity: 0;
        transform: scale(0.9);
        transform: translateY(0);
    }

    .faq-transition-enter-active {
        opacity: 1;
        transform: translateY(max-height);
        transition: opacity 400ms, transform 400ms;
    }

    .faq-transition-exit {
        opacity: 1;
        transform: translateY(0.5);
    }

    .faq-transition-exit-active {
        opacity: 0;
        transform: scale(0);
        transform: translateY(0);
        transition: opacity 400ms, transform 400ms;
    }

    .btn {
        background: transparent;
        border-color: transparent;
        color: #FFA3A3;
        cursor: pointer;

        .faicon {
            font-size: 1.5rem;
        }
    }
}

.faq-container {
    background-color: #FFD8D8;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;

    #faq {
        background-color: #FFD8D8;
        margin-top: -4rem;
        padding-left: 9rem;
        width: 99vw;

        .heading {
            @include heading;
            padding-bottom: 1rem;
            width: 10rem;
        }
    }

}



@media only screen and (max-width: 950px) {
    .faq-container {
        margin: 0;
        padding: 0;

        #faq {
            padding-left: 2rem;

            .heading {
                @include mobile-heading;
            }
        }
    }


    .question {
        width: 80vw;

        .question-box {
            padding: 0.5rem;
        }

        .extended-questionbox {
            padding: 0.5rem;
        }

        .faqquestion {
            @include mobile-para-text;
            padding: 0rem 0.2rem;
        }

        .faqanswer {
            font-size: 0.99rem;
            line-height: 1.4;
            padding: 0.5rem 0.5rem 0.7rem 0.5rem;
        }
    }
}

@media only screen and (max-width: 540px) {
    .question {

        .faqanswer {
            padding: 0.5rem 0.5rem 0.7rem 0.5rem;
        }

        .btn {
            .faicon {
                font-size: 1rem;
            }
        }
    }
}