@media only screen and (min-width: 980px){
    #home{
        .home-bg-mob{
            display: none;
        }
        .home-img-mob{
            display: none;
        }
    }
}

@media only screen and (max-width: 1024px){
    #home{
        height: 100vh;
        .home-img{
            display: none;
        }
        .home-bg{
            display: none;
        }
        .home-bg-mob{
            display: flex;
            width: 100vw;
            position: absolute;
            top:0
        }
        .home-img-mob{
            display: flex;
            width: 100vw;
            position: absolute;
            top:0
        }
        .home-main{
            width: 100vw;
            right:0;
            top:80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 0rem;
            text-align: center;
            .mainheading{
                width: 100vw;
                font-weight: 400;
                font-size: 3rem;
            }
            .subheading{
                width: 100vw;
                font-weight: 300;
                font-size: 2rem;
            }
            
            .main-logo{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 420px){
    
    #home{
        max-width: 100%;
        .mob-container{
            position: absolute;
            width: 100vw;
            height: 100vh;
            margin: 0;
            overflow-x: hidden;
            .home-bg-mob{
                display: flex;
                height: auto;
                width:110%;
                position: absolute;
                object-fit: cover;
                top:0;
                overflow: hidden;
            }
            .home-img-mob{
                display: flex;
                height: auto;
                width:110%;
                position: absolute;
                top:0;
                overflow: hidden;
            }
        }
        .home-main{
            .mainheading{
                font-weight: 400;
                font-size: 2rem;
            }
            .subheading{
                font-weight: 300;
                font-size: 1.2rem;
            }
        }
        
    }
    
}
