.rotate-fan {
    animation-name: spin;
    width: 300px;
    display: flex;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 4.3rem 5.1rem;
    transform-box: fill-box;
    animation-play-state: running;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@media only screen and (max-width: 420px) {
    .svg-fan-img {
        padding: -20rem 0;
    }
}