@import '../../styles/variables.scss';
@import '../../styles/components.scss';

.member-card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    .card-container {
        width: fit-content;
        height: fit-content;
        border-radius: 0.7rem;
        overflow: hidden;
    }

    .card-container {
        &:hover {
            .img {
                filter: blur(1px) brightness(60%);
            }

            .links {
                display: flex;
            }
        }
    }

    .img-container {
        position: relative;
        width: 15rem;
        height: 16rem;
        overflow: hidden;

        .img {
            width: 100%;
        }

        .links {
            position: absolute;
            top: 45%;
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            display: none;

            a {
                color: white;
                text-decoration: none;
                font-size: 2.5rem;
                transition: all .2s;
                cursor: pointer;
            }

            .linkedin:hover,
            .instagram:hover,
            .email:hover {
                color: #b4e7ff;
            }
        }
    }


    .details {
        width: 15rem;
        background-color: #FFD8D8;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $textfont;

        .name {
            font-size: 1.3rem;
            margin-top: 0.7rem;
            margin-bottom: 0.1rem;
        }

        .country {
            margin-bottom: 0.3rem;
            color: rgb(97, 97, 97)
        }
    }
}

#ourteam {
    margin-top: 8rem;

    .heading {
        @include flexCenter(row);
        @include heading;
        padding-bottom: 2rem;
    }

    .layout {
        @include flexCenter(row);
        padding: 0 12rem 4rem 12rem;
    }
}

@media only screen and (max-width: 1350px) {
    .member-card {
        width: 15rem;

        .img-container {
            width: 13rem;
            height: 14rem;

            .links {
                top: 45%;
                // left: 20%;

                a {
                    font-size: 2.3rem;

                    &:not(:last-child) {
                        margin-right: 0.8rem;
                    }
                }
            }
        }

        .details {
            width: 13rem;
        }
    }
}

@media only screen and (max-width: 1120px) {
    #ourteam {
        .layout {
            padding: 0 7rem 4rem 7rem;
        }
    }
}

@media only screen and (max-width: 950px) {
    .member-card {
        width: 13rem;

        .img-container {
            width: 11rem;
            height: 12rem;

            .links {
                top: 45%;
                // left: 17%;

                a {
                    font-size: 2.1rem;

                    &:not(:last-child) {
                        margin-right: 0.8rem;
                    }
                }
            }
        }

        .details {
            width: 11rem;

            .name {
                font-size: 1rem;
                margin-top: 0.5rem;
                margin-bottom: 0.1rem;
            }

            .country {
                font-size: 0.7rem;
                margin-bottom: 0.2rem;
                color: rgb(97, 97, 97)
            }
        }
    }

    #ourteam {
        margin-top: 1rem;

        .layout {
            padding: 0 5rem 4rem 5rem;
        }

        .heading {
            @include mobile-heading;
        }
    }
}

@media only screen and (max-width: 800px) {
    .member-card {
        width: 11rem;

        .img-container {
            width: 9rem;
            height: 10rem;

            .links {
                top: 45%;
                // left: 13%;

                a {
                    font-size: 1.9rem;

                    &:not(:last-child) {
                        margin-right: 0.8rem;
                    }
                }
            }
        }

        .details {
            width: 9rem;
        }
    }

    #ourteam {
        .layout {
            padding: 0 2rem 3rem 2rem;
        }

        .heading {
            @include mobile-heading;
        }
    }
}

@media only screen and (max-width: 420px) {
    .member-card {
        width: 9rem;

        .img-container {
            width: 8rem;
            height: 9rem;

            .links {
                top: 50%;
                // left: 16%;

                a {
                    font-size: 1.6rem;

                    &:not(:last-child) {
                        margin-right: 0.6rem;
                    }
                }
            }
        }

        .details {
            width: 8rem;

            .name {
                font-size: 0.8rem;
                margin-top: 0.5rem;
                margin-bottom: 0.1rem;
            }

            .country {
                font-size: 0.6rem;
                margin-bottom: 0.2rem;
                color: rgb(97, 97, 97)
            }
        }
    }

    #ourteam {
        .layout {
            padding: 0 2rem 3rem 2rem;
        }

        .heading {
            @include mobile-heading;
        }
    }
}